@use '@angular/material' as mat;

.chat-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  height: calc(100% - 64px);

  mat-card {
    @include mat.elevation(6);

    width: 100%;
    max-width: 600px;
    margin: 5rem;

    mat-card-header {
      padding: 0;
    }

    mat-card-content {
      display: flex;
      flex-direction: column;
      flex: 1;
      align-items: center;
      justify-content: center;
      overflow: hidden;

      mat-list {
        display: flex;
        flex-direction: column;
        margin-top: auto;
        width: 100%;
        overflow: auto;
      }
    }

    mat-card-actions {
      align-items: start;

      mat-form-field {
        flex: 1;
        margin-right: 1rem;
      }
    }

    @media screen and (max-width: 480px) {
      margin: 1.5rem;
    }
  }
}

.horizontal-spacer {
  flex: 1 1 auto;
}

.messages-loading {
  .mat-headline-5 {
    color: #fff;
  }

  mat-spinner {
    margin: auto;
  }
}
